<!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Proyectos para Tiendas Departamentales</h2>
                            <p class="item-intro text-muted"></p>
							<%= image_tag "pwork/regular/HCO.jpg", :title => "title", :class => "img-responsive img-centered" %>

                            <p>Muebles para Tiendas Departamentales</p>
                            <p>
							</p>
                            <ul class="list-inline">
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar Proyecto</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Proyectos para Tiendas Departamentales</h2>
                            <p class="item-intro text-muted"></p>
							<%= image_tag "pwork/regular/mostrador.jpg", :title => "title", :class => "img-responsive img-centered" %>

                            <p>Muebles para Tiendas Departamentales</p>
                            <p>
							</p>
                            <ul class="list-inline">
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar Proyecto</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                             <h2>Proyecto Farmacias</h2>
                            <p class="item-intro text-muted"></p>
							<%= image_tag "pwork/regular/anaquel.jpg", :title => "title", :class => "img-responsive img-centered" %>


                            <p>Muebles para Farmacias</p>
                            <p>

							</p>
                            <ul class="list-inline">
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar Proyecto</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Proyecto Zapaterías</h2>
                            <p class="item-intro text-muted"></p>
							<%= image_tag "pwork/regular/zapateria3.jpg", :title => "title", :class => "img-responsive img-centered" %>


                            <p>Muebles para Zapaterías</p>
                            <p>
								<%= image_tag "pwork/regular/zapateria4.jpg", :title => "title", :class => "img-responsive img-centered" %>
								<%= image_tag "pwork/regular/zapateria.jpg", :title => "title", :class => "img-responsive img-centered" %>
							</p>
                            <ul class="list-inline">
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar Proyecto</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
							<h2>Proyecto Restaurantes</h2>
                            <p class="item-intro text-muted"></p>
							<%= image_tag "pwork/regular/vitrina.jpg", :title => "title", :class => "img-responsive img-centered" %>


                            <p>Muebles para Farmacias</p>
                            <p>

							</p>
                            <ul class="list-inline">
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar Proyecto</button>
							                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Kioscos e islas</h2>
                            <p class="item-intro text-muted">Chile Nitzá</p>
							<%= image_tag "pwork/chilenitza.jpg", :title => "title", :class => "img-responsive img-centered" %>
							
                            <p>Chile Nitzá es un stand que hemos desarrollado para colocarlo dentro de centrols comerciales.</p>

                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar Proyecto</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
    <!-- Portfolio Modal 7 -->
    <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Exhibidores</h2>
                            <p class="item-intro text-muted">Muebles para Exhibidores</p>
							<%= image_tag "pwork/regular/anaqueles.jpg", :title => "title", :class => "img-responsive img-centered" %>
							
                            <p>Exhibidores</p>
							<%= image_tag "pwork/rosetti_anaquel.jpg", :title => "title", :class => "img-responsive img-centered" %>
							<%= image_tag "pwork/rosetti_anaquel2.jpg", :title => "title", :class => "img-responsive img-centered" %>							
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar Proyecto</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
    <!-- Portfolio Modal 8 -->
    <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Vitrinas y Anaqueles</h2>
                            <p class="item-intro text-muted">Muebles para Vitrinas y Anaqueles</p>
							<%= image_tag "pwork/regular/vitrina_tel.jpg", :title => "title", :class => "img-responsive img-centered" %>
							
                            <p>Vitrinas y Anaqueles</p>
							<%= image_tag "pwork/vitrina_work.jpg", :title => "title", :class => "img-responsive img-centered" %>
							<%= image_tag "pwork/anaquel2.jpg", :title => "title", :class => "img-responsive img-centered" %>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar Proyecto</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>		
	
    <!-- Portfolio Modal  Aviso-->
    <div class="portfolio-modal modal fade" id="portfolioModalAviso" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Política de protección de datos</h2>
							
							<h4>Derecho de información y consentimiento expreso</h4>
							<p>El USUARIO manifiesta haber leído y aceptado expresamente la presente Política de Protección de Datos, y otorga su consentimiento inequívoco y expreso al tratamiento de sus datos personales conforme a las finalidades informadas y servicios que presta RJ MUEBLES PARA COMERCIO S.A. de C.V., así como la cesión de sus datos personales de: incluir los datos que se remiten al cliente a los Clientes del Sitio Web para el Cumplimiento del Servicio. A estos efectos se entiende por Cliente, a las Empresas o Profesionales que utilizan los servicios de RJ MUEBLES PARA COMERCIO S.A. de C.V. para ofertar y gestionar sus servicios.</p>
							<p>RJ MUEBLES PARA COMERCIO S.A. de C.V. no vende ni alquila los datos de carácter personal de sus USUARIOS a terceras personas con fines comerciales, salvo que se haya obtenido el consentimiento expreso de éstos.</p>
							<p>Si el usuario decide registrarse en rjmueblesparacomercio.com, se solicitarán los datos estrictamente necesarios para la consecución del fin al cual está destinada nuestro Sitio Web, que no es otro que el de facilitar un punto de encuentro, mediante la publicación de anuncios, entre empresas que ofrecen productos y servicios relacionados con Jardineros y los USUARIOS interesados en sus productos y/o servicios.</p>
							<p>A tales efectos se requerirá a los USUARIOS la cumplimentación de un formulario y la inclusión de sus datos personales. Su tratamiento estará enfocado únicamente a la consecución de estos fines, siempre dentro del marco normativo establecido.</p>
							<p>Los datos que nos facilite el usuario serán incorporados a un fichero de datos personales, que se halla debidamente inscrito en el Registro de Protección de Datos de Carácter Personal de la Agencia de Protección de Datos.</p>
							<h4>Finalidad</h4>
							<p>Los datos de los USUARIOS registrados a través del formulario habilitado al efecto en rjmueblesparacomercio.com son recabados por RJ MUEBLES PARA COMERCIO S.A. de C.V., con las siguientes finalidades:</p>
							<ul>
								<li>Facilitar a los USUARIOS el contacto con RJ MUEBLES PARA COMERCIO S.A. de C.V. y poder realizar una cotización de los servicios que necesiten</li>
							</ul>
							<h4>Carácter obligatorio o facultativo de la información facilitada por el usuario y veracidad de los datos </h4>
							<p>Si los hubiere, los campos marcados con un asterisco ("*") en el formulario de registro a cumplimentar por el usuario son estrictamente necesarios para atender a su petición, siendo voluntaria la inclusión de datos en los campos restantes. </p>
							<p>El USUARIO garantiza que los datos personales facilitados a RJ MUEBLES PARA COMERCIO S.A. de C.V. son veraces y se hace responsable de comunicar cualquier modificación de los mismos. </p>
							<p>Los datos recabados son los adecuados, pertinentes y no excesivos en relación con el ámbito, las finalidades y servicios determinados, explícitos y legítimos de RJ MUEBLES PARA COMERCIO S.A. de C.V. Queda prohibido utilizar el formulario para contactar con las empresas del portal con fines publicitarios.</p>
							<p>El USUARIO garantiza que toda la información de carácter personal que facilite es exacta y está puesta al día de forma que responde con veracidad a la situación real del usuario. Corresponde y es obligación del usuario mantener, en todo momento, sus datos actualizados, siendo el usuario el único responsable de la inexactitud o falsedad de los datos facilitados y de los perjuicios que pueda causar por ello a RJ MUEBLES PARA COMERCIO S.A. de C.V. o a terceros con motivo de la utilización de los servicios ofrecidos por RJ MUEBLES PARA COMERCIO S.A. de C.V. </p>
							<h4>Consentimiento del USUARIO</h4>
							<p>Al remitir los datos a través de cualquier medio, y en concreto al completar el formulario y hacer clic para enviar los datos, el usuario manifiesta haber leído y aceptado expresamente las Condiciones Legales de RJ MUEBLES PARA COMERCIO S.A. de C.V. y otorga su consentimiento inequívoco y expreso al tratamiento de sus datos personales conforme a las finalidades informadas y servicios que presta RJ MUEBLES PARA COMERCIO S.A. de C.V.</p>
							<h4>Datos facilitados por menores de edad</h4>
							<p>Los menores de edad requieren el consentimiento de los padres o tutores para registrarse en rjmueblesparacomercio.com.</p>
							<h4>Seguridad</h4>
							<p>RJ MUEBLES PARA COMERCIO S.A. de C.V. pone en conocimiento de los USUARIOS que ha adoptado las medidas de índole técnica y organizativas reglamentariamente establecidas, que garantizan la seguridad de los datos de carácter personal y evitan su alteración, pérdida, tratamiento o acceso no autorizado, habida cuenta del estado de la tecnología, la naturaleza de los datos almacenados y los riesgos a que estén expuestos.</p>
							<p>RJ MUEBLES PARA COMERCIO S.A. de C.V. se compromete a cumplir con el deber de secreto y confidencialidad respecto de los datos personales contenidos en el fichero automatizado de acuerdo con la legislación aplicable, así como a conferirles un tratamiento seguro en las cesiones y transferencias internacionales de datos que, en su caso, puedan producirse. </p>
							<h4>Cookies e IPs</h4>
							<p>El usuario acepta el uso de cookies y seguimientos de IPs. Nuestro analizador de tráfico del site utiliza cookies y seguimientos de IPs que nos permiten recoger datos a efectos estadísticos como: fecha de la primera visita, número de veces que se ha visitado, fecha de la última visita, URL y dominio de la que proviene, explorador utilizado y resolución de la pantalla. No obstante, el usuario si lo desea puede desactivar y/o eliminar estas cookies siguiendo las instrucciones de su navegador de Internet.</p>
							<h4>Derecho de Acceso, Rectificación, Cancelación, Oposición y Revocación de Datos </h4>
							<p>Estos derechos pueden hacerse efectivos mediante la propia configuración de la página web. En caso de problemas para la realización efectiva online así como para cualquier tipo de duda o controversia respecto a nuestra política de protección de datos se podrán dirigir directamente a: RJ MUEBLES PARA COMERCIO S.A. de C.V. (rjmueblesparacomercio.com), Av La Piedad 76 Col. La piedad Municipio de Cuautitlán Izcalli Estado de México CP. 54720</p><p>O bien a través de nuestro correo electrónico: cotizaciones@rjmueblesparacomercio.com indicando el asunto de referencia. </p>
							<h4>Modificación de la presente Política de Protección de Datos</h4>
							<p>RJ MUEBLES PARA COMERCIO S.A. de C.V. se reserva el derecho a modificar la presente política para adaptarla a futuras novedades legislativas o jurisprudenciales. </p>

                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>