<!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Proyectos para Tiendas Departamentales</h2>
                            <p class="item-intro text-muted"></p>
							<%= image_tag "pwork/regular/HCO.jpg", :title => "title", :class => "img-responsive img-centered" %>

                            <p>Muebles para Tiendas Departamentales</p>
                            <p>
							</p>
                            <ul class="list-inline">
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar Proyecto</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Proyectos para Tiendas Departamentales</h2>
                            <p class="item-intro text-muted"></p>
							<%= image_tag "pwork/regular/mostrador.jpg", :title => "title", :class => "img-responsive img-centered" %>

                            <p>Muebles para Tiendas Departamentales</p>
                            <p>
							</p>
                            <ul class="list-inline">
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar Proyecto</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                             <h2>Proyecto Farmacias</h2>
                            <p class="item-intro text-muted"></p>
							<%= image_tag "pwork/regular/anaquel.jpg", :title => "title", :class => "img-responsive img-centered" %>


                            <p>Muebles para Farmacias</p>
                            <p>

							</p>
                            <ul class="list-inline">
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar Proyecto</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Proyecto Zapaterías</h2>
                            <p class="item-intro text-muted"></p>
							<%= image_tag "pwork/regular/zapateria3.jpg", :title => "title", :class => "img-responsive img-centered" %>


                            <p>Muebles para Zapaterías</p>
                            <p>
								<%= image_tag "pwork/regular/zapateria4.jpg", :title => "title", :class => "img-responsive img-centered" %>
								<%= image_tag "pwork/regular/zapateria.jpg", :title => "title", :class => "img-responsive img-centered" %>
							</p>
                            <ul class="list-inline">
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar Proyecto</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
							<h2>Proyecto Restaurantes</h2>
                            <p class="item-intro text-muted"></p>
							<%= image_tag "pwork/regular/vitrina.jpg", :title => "title", :class => "img-responsive img-centered" %>


                            <p>Muebles para Farmacias</p>
                            <p>

							</p>
                            <ul class="list-inline">
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar Proyecto</button>
							                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Kioscos e islas</h2>
                            <p class="item-intro text-muted">Chile Nitzá</p>
							<%= image_tag "pwork/chilenitza.jpg", :title => "title", :class => "img-responsive img-centered" %>
							
                            <p>Chile Nitzá es un stand que hemos desarrollado para colocarlo dentro de centrols comerciales.</p>

                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar Proyecto</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
    <!-- Portfolio Modal 7 -->
    <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Exhibidores</h2>
                            <p class="item-intro text-muted">Muebles para Exhibidores</p>
							<%= image_tag "pwork/regular/anaqueles.jpg", :title => "title", :class => "img-responsive img-centered" %>
							
                            <p>Exhibidores</p>
							<%= image_tag "pwork/rosetti_anaquel.jpg", :title => "title", :class => "img-responsive img-centered" %>
							<%= image_tag "pwork/rosetti_anaquel2.jpg", :title => "title", :class => "img-responsive img-centered" %>							
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar Proyecto</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
    <!-- Portfolio Modal 8 -->
    <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Vitrinas y Anaqueles</h2>
                            <p class="item-intro text-muted">Muebles para Vitrinas y Anaqueles</p>
							<%= image_tag "pwork/regular/vitrina_tel.jpg", :title => "title", :class => "img-responsive img-centered" %>
							
                            <p>Vitrinas y Anaqueles</p>
							<%= image_tag "pwork/vitrina_work.jpg", :title => "title", :class => "img-responsive img-centered" %>
							<%= image_tag "pwork/anaquel2.jpg", :title => "title", :class => "img-responsive img-centered" %>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar Proyecto</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>		
	
    <!-- Portfolio Modal  Aviso-->
    <div class="portfolio-modal modal fade" id="portfolioModalAviso" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <%= render :partial => 'aviso/privacidad' %>

                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>